h3 {
  margin: 0.5em;
}

.app {
  background-color: #282828;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: calc(1em + 0.25vw);
  color: white;
  height: calc(100vh);
  overflow: hidden;
}

.padRight {
  padding-right: 0.35em;
}

.center {
  align-items: center;
}

.inverted {
  filter: invert(100%);
}

.column {
  max-height: calc(100vh);
}

.left {
  overflow: hidden;
  flex: 0 0 14em;
  transition: flex 0.5s;
}

.collapsed {
  flex: 0;
}

/* At the bottom so things cascade properly */
@media only screen and (max-width: 600px) {
  .left:not(.collapsed) {
    flex: 1 0 100%;
  }
}