.noItems {
  display: flex;
  align-items: center;
}

@keyframes hover {
  from { bottom: 2em; }
  to { bottom: 2.25em; }
}

.noItems .arrow {
  position: absolute;
  bottom: 2em;
  font-size: 2em;
  right: 0em;
  width: 2.25em;
  color: orange;
  animation: hover 2s alternate infinite ease-in-out;
}